.closebutton {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: #ff5f57;
    cursor: pointer;
}

.windowheader {
    background-color: #030D6B;
    padding: 14px;
    font-weight: bold;
    cursor: grab;
}

.window{
    border:solid;
    border-radius: 18px;
    background-color:#8BE4FC;
    overflow:hidden;
    position: absolute;
    z-index: 1;
}

.selected {
text-decoration:none;
outline:none;
}

#desktopApps div {
    cursor: pointer;
}

#goatfacts {
    position:absolute;
    top:100px;
    left:100px;
    width:800px;
    height:500px;

    display:none;
    background-color:#1F0357;
    border-radius: 18px;

    display:flex;
    flex-direction:column;

    padding:14px;
}

#goatLayout {
    display:flex;
    flex:1;
}

#goatSidebar {
    width:160px;
    padding:10px;
    border-right: 1px solid rgba(255,255,255,0.2);

}
#goatContent {
    flex:1;
    padding:20px;
    color:white;
    overflow-y:auto;
}